<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta name="viewport">
	<title>Document</title>
</head>
<body>
	<ul>
		
			<li>"user_id": {{ UserDetails.userId }}</li>
			<li>"app_launched": {{ UserDetails.app_launched }}</li>
			<li>"most_active_day_last_7_days": {{ UserDetails.most_active_day_last_7_days }}</li>
			<li>"number_of_days_active_last_7 _days": {{ UserDetails.number_of_days_active_last_7_days }}</li>
			<li>"most_launched_app_last_7_days": {{ UserDetails.most_launched_app_last_7_days }}</li>
		
	</ul>

	<!-- <a href="{% url 'create_appDetails' %}">New Product</a> -->
</body>
</html>